body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    width: 80%;
    margin: 0;
}

#titulo {
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    width: 200px;
}
#logo-gatito {
    width: 50px;
}
#ramdom-header, #favourites-header {
    display:flex;
    flex-direction: column;
}

h1, h2, h3, button {
    text-align: center;
    margin-bottom:20px;
    padding:0;
}

#ramdom-list, #favourites-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#ramdom-list img, #favourites-list img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Ensure the container is square */
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s, filter 0.3s;
 
}

#ramdom-list img:hover, #favourites-list img:hover {
    filter: brightness(80%);
    object-fit: contain;
    
}

@media (min-width: 768px) {
    #ramdom-list, #favourites-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #ramdom-list, #favourites-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

img {
    display: block;
    margin: 0 auto;
}